<div class="modal fade" id="modalReferences" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Pay References</h4>
      </div>
      <div class="modal-body">
      <div class="row" style="line-height: 25px;">
		<h3>1. Lecturing</h3>
		<p class="col-lg-12">
		<b>Distinguished Visiting Scholar Rate</b>: Paid to a distinguished visiting scholar for a single lecture or for each lecture in a small group
of lectures and for specialised lectures. This rate includes one hour of delivery and up to four hours’ associated working time.<br>
<b>Significant Responsibility Rate</b>: Paid where the lecturer assumes significant responsibility for planning and developing a course
unit (or subject) or a large part of a unit as well as lecturing, or where a lecture or small group of lectures calls for special expertise.
This rate includes one hour of delivery and up to three hours’ associated working time.<br>
<b>Developed Lecture Rate</b>: Paid where staff member has responsibility for coordination of a course unit. This rate for one hour of
delivery and up to three hours’ associated working time.<br>
<b>Standard lecture Rate</b>: Paid as the standard rate for lectures, and includes 1 hour of delivery and up to 2 hours associated working
time.<br>
<b>Repeat lecture</b>: Paid for a lecture covering the same subject matter as a lecture given within seven days to another group of
students, and includes one hour’s delivery and up to one hour’s associated working time.</p>


		<h3>2. Tutoring</h3>
		<p class="col-lg-12">
		<b>Tutorial Rate</b>: Paid for one hour of tutorial time (or equivalent delivery through other than face-to-face teaching mode) and up to two
hours of associated working time, including activities such as preparation, contemporaneous marking and student consultation.<br>
<b>Repeat Tutorial Rate</b>: Paid for one hour of tutorial time (or equivalent delivery through other than face to face teaching mode) and
up to one hour’s associated working time, including activities such as preparation, contemporaneous marking and student
consultation.
		</p>
		
		<h3>3. Other required academic activity (including demonstrations)</h3>
		<p class="col-lg-12">
		Hourly rate for demonstrations (including repeat demonstrations); practical classes; workshops; student field excursions; clinical
sessions other than clinical nurse education; the conduct of performance and visual art studio sessions; development of teaching and
subject material e.g. preparation of subject guides and reading lists and basic activities associated with subject coordination;
consultation with students; supervision; attendance at departmental and/or faculty meetings as required; attendance at lectures and
other teaching activities as required; preparation or marking associated with demonstrations, but performed outside the
demonstration period.
		</p>
		
		<h3>4. Marking</h3>
		<p class="col-lg-12">
		Casual staff performing marking that is not contemporaneous with a lecture, tutorial or other teaching session will be paid an hourly
rate for this marking work.<br>
<b>Contemporaneous</b> means marking that is performed during a lecture or tutorial or other teaching session or marking work that could
have reasonably been performed during the session. It does not mean bulk marking work or marking of exam papers after an
examination. This form of work is to be paid at the hourly marking rate.<br>
<b>Supervising Examiner</b>: Rate paid per hour for marking as a supervising examiner, or marking requiring a significant exercise of
academic judgement appropriate to an academic at Level B status.<br>
<b>Routine (Standard) Marking</b>: Rate paid per hour for routine marking, including multiple choice marking.
		</p>
		
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>