<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>{{isset(@title) ? @title : 'usyd THESIS'}} | Quantumfi</title>
	<!-- Description, Keywords and Author -->
	<meta name="keywords" content="usyd Tutor Management">
	<meta name="author" content="Quantumfi">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/img/logo.png">
	
	<link rel="stylesheet" href="//quantumfi.net/shared/bootstrap/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" href="//bootswatch.com/cerulean/bootstrap.min.css" media="screen">
</head>

<body ondragstart="return false" onselectstart="return false" oncontextmenu="return false">
		
	<CHECK if="{{isset(@err_message)}}">
	<div class="alert alert-dismissible alert-danger">{{@err_message}}</div> 
	</CHECK>
	<CHECK if="{{isset(@message)}}">
	<div class="alert alert-dismissible alert-success">{{@message}}</div> 
	</CHECK>
	<CHECK if="{{isset(@warn_message)}}">
	<div class="alert alert-dismissible alert-warning">{{@warn_message}}</div> 
	</CHECK>
	
	<div id="prepsCover">
	
		<div class="coverBg text-center">
			<!--h1 class="col-lg-12">Tutor Management</h1-->
			<h1 class="col-lg-12"><img src="//quantumfi.net/img/tutor.png" alt="Tutor Management" width="220"/></h1>
		</div>
	</div>
	<main class="container" id="preps">
	<div class="row">
		<article class="col-lg-12">
			<include href="{{ @inc }}" />
		</article>
	</div>
	</main>
</body>
</html>