<div class="frontpage">
<div class="prepsBox thumbnail col-lg-offset-2 col-lg-8">
<form class="form-horizontal" action="/register" method="post">
  <fieldset>
    <legend>Sign Up</legend>
    <!--div class="form-group">
      <label class="col-lg-3 control-label">Unikey</label>
      <div class="col-lg-9">
        <input type="text" class="form-control" name="id" placeholder="Unikey" required>
      </div>
    </div-->
    <div class="form-group">
      <label class="col-lg-3 control-label">First Name</label>
      <div class="col-lg-9">
        <input type="hidden" name="position" value="">
        <input type="text" class="form-control" name="fname" placeholder="First Name" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Last Name</label>
      <div class="col-lg-9">
        <input type="text" class="form-control" name="lname" placeholder="Last Name" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Email</label>
      <div class="col-lg-9">
        <input type="text" class="form-control" name="email" placeholder="Email" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Password</label>
      <div class="col-lg-9">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Confirm Password</label>
      <div class="col-lg-9">
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Position</label>
      <div class="col-lg-9">
		<div type="submit" class="btn btn-primary" onclick="submitForm('casual')">Casual</div>
		<div type="submit" class="btn btn-primary" onclick="submitForm('coordinator')">Coordinator</div>
		<div type="submit" class="btn btn-primary" onclick="submitForm('manager')">Manager</div>
		<div type="submit" class="btn btn-primary" onclick="submitForm('admin')">Admin</div>
      </div>
    </div>
	<div class="form-group">
      <div class="col-lg-9 col-lg-offset-3">
        <button type="reset" class="btn btn-default">Cancel</button>
        <br/><br/><a href="/login" class="text-primary">I already have account, go to Sign In page</a>
		<br/><br/><a href="/" class="text-warning">Back to main page</a>
      </div>
    </div>
  </fieldset>
</form>
</div>
</div>
<script>
function submitForm(po){
	$('input[name=position]').val(po);
	$('form').submit();
}
$('form').submit(function(event){
	if ($('input[name=email]').val() =='' 
		|| $('input[name=password]').val() =='' 
		|| $('input[name=confirmPassword]').val() =='' 
		|| $('input[name=fname]').val() =='' 
		|| $('input[name=lname]').val() =='' 
		|| $('input[name=position]').val() ==''
	){
		event.preventDefault();
	}else{
		if (!confirm('Are you you want to register as '+$('input[name=position]').val())){
			event.preventDefault();
		}
	}
});
</script>